body {
    display: flex;
    justify-content: top;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-decoration-line: underline;
    background-color:pink;
  }
  
   .captcha-container {
    text-align: center;
    background-color: skyblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: black;
    outline-style:dotted;
  }
  
   .captcha-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
  }
  
  
}
  
